[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
image-sampling = "python -m learn.image.sampling"
image-quantization = "python -m learn.image.quantization"

[packages]
matplotlib = "*"
scikit-image = "*"
docopt = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
